Repository BinaryStudioAcademy/bsa-winter-2023-2024-resumegemm, pull requests merged in 2024-03, with the labels that each got.

#114 rg-117: + Added footer, header and dropdown components to preview
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/preview/styles.module.scss
Labels: frontend

#120 rg-11: Fix oauth link redirect
  frontend/.env.example
  frontend/src/bundles/auth/components/social-media-links/social-media-link/social-media-link.tsx
  frontend/src/framework/config/config.package.ts
  frontend/src/framework/config/types/environment-schema.type.ts
Labels: frontend, ENV

#122 rg-115: Edit UseEffect And Routes
  frontend/src/bundles/common/hooks/use-load-templates/use-load-templates.hook.ts
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/index.tsx
Labels: bug, frontend

#136 rg-126: Add Header To Landing Page
  frontend/src/bundles/landing-page/landing-page.tsx
  frontend/src/bundles/landing-page/styles.module.scss
Labels: enhancement, frontend

#134 rg-96: remove trim in password validation
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
Labels: bug, frontend, shared

#135 rg-132: Add dynamic redirect
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/enums/cookie/cookie-name.enum.ts
  shared/src/bundles/auth/types/auth-service-type.ts
Labels: backend, shared

#133 rg-131: show search placeholder
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
Labels: bug, frontend

#127 rg-124: Add Stepper And Screenshot hook to PreviewPage
  frontend/src/bundles/preview/preview.tsx
Labels: enhancement, frontend

#124 rg-33: Add crud images to development
  backend/.env.example
  backend/package.json
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/enums/controller-hook.enum.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/files/file-upload-client.ts
  backend/src/common/files/file.service.ts
  backend/src/common/files/files.ts
  backend/src/common/files/interfaces/file-upload-client.interface.ts
  backend/src/common/files/interfaces/interfaces.ts
  backend/src/common/files/types/file-upload-request-dto.type.ts
  backend/src/common/files/types/file-upload-response-dto-type.ts
  backend/src/common/files/types/types.ts
  backend/src/common/plugins/file-upload/file-upload-plugin.ts
  backend/src/common/server-application/server-app.ts
  backend/src/global.d.ts
  shared/src/bundles/files/enums/enums.ts
  shared/src/bundles/files/enums/file-upload.validation-message.ts
  shared/src/bundles/files/enums/file-upload.validation-rule.ts
Labels: backend, shared, ENV

#125 rg-121: replace colors with variables
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/auth/components/logo/styles.module.scss
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/components/social-media-links/styles.module.scss
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/components/create-resume-button/styles.module.scss
  frontend/src/bundles/common/components/dropdown/styles.module.scss
  frontend/src/bundles/common/components/error-fallback/styles.module.scss
  frontend/src/bundles/common/components/form-group/styles.module.scss
  frontend/src/bundles/common/components/icon-input/styles.module.scss
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/components/modal/styles.module.css
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/components/page-title/style.module.scss
  frontend/src/bundles/common/components/progress/styles.module.css
  frontend/src/bundles/common/components/progress/styles.module.scss
  frontend/src/bundles/common/components/regular-button/styles.module.scss
  frontend/src/bundles/common/components/sort-button/styles.module.scss
  frontend/src/bundles/common/components/spinner/styles.module.scss
  frontend/src/bundles/common/components/stepper/step/styles.module.scss
  frontend/src/bundles/common/components/tabs/style.module.scss
  frontend/src/bundles/common/components/text-area/styles.module.scss
  frontend/src/bundles/common/components/text-editor/styles.module.scss
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.module.scss
  frontend/src/bundles/cv-editor/pages/custom-section/styles.module.scss
  frontend/src/bundles/edit-temlate/styles.module.scss
  frontend/src/bundles/home/components/cards/create-new-card/styles.module.scss
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
  frontend/src/bundles/home/components/panel-container/styles.module.scss
  frontend/src/bundles/home/pages/styles.module.scss
  frontend/src/bundles/landing-page/styles.module.scss
  frontend/src/bundles/main-page/styles.module.scss
  frontend/src/bundles/not-found-page/styles.module.scss
  frontend/src/bundles/payment/components/styles.module.scss
  frontend/src/bundles/payment/pages/styles.module.scss
  frontend/src/bundles/preview/styles.module.css
  frontend/src/bundles/preview/styles.module.scss
  frontend/src/bundles/question-and-answer/components/styles.module.scss
  frontend/src/bundles/resume-preview/components/common/badge/styles.module.scss
  frontend/src/bundles/resume-preview/components/education/styles.module.scss
  frontend/src/bundles/resume-preview/components/experience/components/experience-item/styles.module.scss
  frontend/src/bundles/resume-preview/components/experience/styles.module.scss
  frontend/src/bundles/resume-preview/components/languges/styles.module.scss
  frontend/src/bundles/resume-preview/components/portfolio/styles.module.scss
  frontend/src/bundles/resume-preview/components/recommendations/components/recommendation-item/styles.module.scss
  frontend/src/bundles/resume-preview/components/recommendations/styles.module.scss
  frontend/src/bundles/resume-preview/components/resume-preview/styles.module.scss
  frontend/src/bundles/resume-preview/components/skills/styles.module.scss
  frontend/src/bundles/resume-preview/components/socials/styles.module.scss
  frontend/src/bundles/resume-preview/components/summary/styles.module.scss
  frontend/src/bundles/resume-preview/components/tech-stack/styles.module.scss
  frontend/src/bundles/users/components/profile-card/style.module.scss
  frontend/src/bundles/users/components/profile-info/style.module.scss
  frontend/src/bundles/users/components/socials/style.module.scss
  frontend/src/bundles/users/components/subscription/style.module.scss
  frontend/src/bundles/users/pages/style.module.scss
Labels: enhancement, frontend

#116 rg-93: registration page br 3
  frontend/src/bundles/auth/pages/auth.tsx
Labels: bug, frontend

#117 rg-91: + fix validation on first and last name to restrict min and max length
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
Labels: bug, frontend, backend, shared

#103 rg-105: add init date for calendar
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/types/calendar/calendar-date.type.ts
  frontend/src/bundles/common/types/calendar/calendar-month.type.ts
  frontend/src/bundles/common/types/calendar/init-date.type.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/cv-editor/types/education/education.type.ts
  frontend/src/bundles/preview/preview.tsx
Labels: frontend

#99 rg-100: redirect to sign in
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
Labels: bug, frontend

#108 rg-98: validation password length
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  frontend/src/bundles/landing-page/landing-page.tsx
  shared/src/bundles/users/enums/enums.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/enums/user-validation-rule.enum.ts
  shared/src/bundles/users/users.ts
Labels: frontend, backend, shared

#129 rg-83: Add Subscription Plans / Connect To Stripe Actions
  backend/.env.example
  backend/src/bundles/stripe-events/enums/enums.ts
  backend/src/bundles/stripe-events/enums/stripe-events-headers.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-plan-events.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-price-events.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-product-events.enum.ts
  backend/src/bundles/stripe-events/interfaces/interfaces.ts
  backend/src/bundles/stripe-events/interfaces/stripe-events-service.interface.ts
  backend/src/bundles/stripe-events/interfaces/subscription-plan-repository.interface.ts
  backend/src/bundles/stripe-events/models/subscription-plan.model.ts
  backend/src/bundles/stripe-events/repositories/subscription-plan.repository.ts
  backend/src/bundles/stripe-events/stripe-events.controller.ts
  backend/src/bundles/stripe-events/stripe-events.service.ts
  backend/src/bundles/stripe-events/stripe-events.ts
  backend/src/bundles/stripe-events/types/stripe-events-response-dto.type.ts
  backend/src/bundles/stripe-events/types/subscription-plan-create-dto.type.ts
  backend/src/bundles/stripe-events/types/subscription-plan.type.ts
  backend/src/bundles/stripe-events/types/types.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/enums/controller-hook.enum.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/plugins/preparsing/preparsing-plugin.ts
  backend/src/common/server-application/constants/constants.ts
  backend/src/common/server-application/constants/preparsing-routes.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-app.ts
  backend/src/common/server-application/server-application.ts
  backend/src/global.d.ts
  backend/src/migrations/20240210124346_create_tables.ts
  shared/src/bundles/stripe-events/enums/enums.ts
  shared/src/bundles/stripe-events/enums/stripe-events.api-path.enum.ts
  shared/src/bundles/stripe-events/stripe-events.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: enhancement, backend, shared, ENV

#131 rg-128: remove state status
  frontend/src/bundles/auth/pages/auth.tsx
Labels: enhancement, frontend

#141 rg-142: Fix/add valid import routes
  backend/.env.example
  backend/src/bundles/resumes/resume.controller.ts
  backend/src/common/config/config.package.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/auth/components/social-media-links/social-media-link/social-media-link.tsx
Labels: frontend, backend, ENV

#147 rg-149: - duplicate enum
  backend/src/common/database/enums/database-column-name.enum.ts
Labels: backend

#43 rg-48: User soft delete
  backend/src/bundles/auth/helpers/helpers.ts
  backend/src/bundles/auth/helpers/token/decode-token/decode-token.ts
  backend/src/bundles/auth/helpers/token/token.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/interfaces/repository.interface.ts
  backend/src/common/interfaces/service.interface.ts
  backend/src/migrations/20240219153746_add_users_deleted_at.ts
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/users/components/delete-account/delete-account.tsx
  frontend/src/bundles/users/components/delete-account/style.module.scss
  frontend/src/bundles/users/store/actions.ts
  frontend/src/bundles/users/store/index.ts
  frontend/src/bundles/users/store/slice.ts
  frontend/src/bundles/users/users-api.ts
  shared/src/framework/http/enums/http-code.enum.ts
Labels: enhancement, frontend, backend, shared

#152 rg-135: * change fonts case
  frontend/src/assets/css/fonts.scss
Labels: bug, frontend

#144 rg-147: Change path to profile
  frontend/src/bundles/common/components/layout/header/user-profile/menu/menu.tsx
Labels: bug, frontend

#67 rg-67: add delete button for resumes
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/delete-icon.svg
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/resume/components/delete-resume-button/delete-resume-button.tsx
  frontend/src/bundles/resume/components/delete-resume-button/styles.module.scss
  frontend/src/bundles/resume/components/delete-resume-modal.tsx/delete-resume-modal.tsx
  frontend/src/bundles/resume/components/delete-resume-modal.tsx/styles.module.scss
Labels: frontend

#142 rg-143: Refactor Stripe Events Service
  backend/src/bundles/stripe-events/repositories/subscription-plan.repository.ts
  backend/src/bundles/stripe-events/stripe-events.service.ts
Labels: backend

#101 rg-94: not allow register with email with one symbol
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
Labels: frontend, shared

#105 rg-96: min password length
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
Labels: frontend

#102 rg-86: Resume builder drag-and-drop
  frontend/package.json
  frontend/src/bundles/drag-and-drop/components/drag-and-drop-preview/drag-and-drop-preview.tsx
  frontend/src/bundles/drag-and-drop/components/drag-and-drop-preview/example-block.tsx
  frontend/src/bundles/drag-and-drop/components/drag-and-drop-preview/styles.module.scss
  frontend/src/bundles/drag-and-drop/components/draggable-item/draggable-item.tsx
  frontend/src/bundles/drag-and-drop/components/drop-container/drop-container.tsx
  frontend/src/bundles/drag-and-drop/components/sortable-container/sortable-container.tsx
  frontend/src/bundles/drag-and-drop/helpers/sorting.helper.ts
  frontend/src/bundles/drag-and-drop/types/sortable-node.type.ts
  frontend/src/bundles/drag-and-drop/types/sorting-container-properties.type.ts
  frontend/src/bundles/drag-and-drop/types/types.ts
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
Labels: enhancement, root, frontend

#158 rg-160: * fix import
  backend/src/bundles/resumes/resume.controller.ts
Labels: bug, backend

#149 rg-139: add user stripe
  backend/src/bundles/payment/payment.service.ts
  backend/src/bundles/payment/payment.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/migrations/20240210124346_create_tables.ts
  backend/src/migrations/20240306135909_add_user_stripe_key.ts
Labels: enhancement, backend

#164 rg-165: objection error. Dependency: rg-163
  backend/src/bundles/users/user.repository.ts
  backend/src/common/database/abstract.repository.ts
  backend/src/common/database/enums/database-column-name.enum.ts
Labels: bug, backend

#163 rg-163: description duplicate / TUserRepo
  backend/src/bundles/users/user.repository.ts
  backend/src/common/database/enums/database-column-name.enum.ts
Labels: bug, backend

#118 rg-116: fix styles auth page
  frontend/src/bundles/auth/components/divider/styles.module.scss
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/form-group/form-group.tsx
  frontend/src/bundles/common/components/form-group/styles.module.scss
  frontend/src/bundles/common/components/password-input/password-input.tsx
  frontend/src/bundles/common/components/password-input/styles.module.scss
Labels: enhancement, frontend

#76 rg-76: + Added toaster notifications for errors.
  backend/src/bundles/users/user.service.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/framework/api/http-api.ts
Labels: enhancement, frontend, backend

#178 rg-175: auth import
  frontend/src/bundles/preview/preview.tsx
Labels: bug, frontend

#166 rg-162: Add Error Logging To STDERR
  backend/src/common/logger/logger.package.ts
Labels: enhancement, backend

#157 rg-153: Add default user avatar
  frontend/src/assets/img/default-avatar-icon.png
  frontend/src/bundles/common/helpers/get-user-avatar.ts
Labels: bug, frontend

#180 rg-174: Fix Redirect To Sign Up
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/layout/header/user-profile/menu/menu.tsx
  frontend/src/bundles/common/components/layout/header/user-profile/user-profile.tsx
  frontend/src/bundles/users/components/delete-account/delete-account.tsx
Labels: bug, frontend

#132 rg-95: validation email length
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
Labels: bug, frontend

#161 rg-161: Fixed seeds import
  backend/src/seeds/seed-data/seed-data.ts
Labels: bug, backend

#109 rg-99: password include special characters
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
Labels: frontend

#93 rg-69: add resume share
  backend/src/bundles/resume-share/enums/enums.ts
  backend/src/bundles/resume-share/enums/error-messages.ts
  backend/src/bundles/resume-share/resume-share-access.model.ts
  backend/src/bundles/resume-share/resume-share-access.repository.ts
  backend/src/bundles/resume-share/resume-share-access.service.ts
  backend/src/bundles/resume-share/resume-share-access.ts
  backend/src/bundles/resume-share/resume-share.controller.ts
  backend/src/bundles/resume-share/resume-share.model.ts
  backend/src/bundles/resume-share/resume-share.repository.ts
  backend/src/bundles/resume-share/resume-share.service.ts
  backend/src/bundles/resume-share/resume-share.ts
  backend/src/bundles/resume-share/types/resume-share.service.type.ts
  backend/src/bundles/resume-share/types/types.ts
  backend/src/bundles/resumes/resume.controller.ts
  backend/src/bundles/users/user.service.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20240226173600_add_resume_share_table.ts
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/resume-access/enums/enums.ts
  frontend/src/bundles/resume-access/enums/messages.ts
  frontend/src/bundles/resume-access/pages/resume-access.tsx
  frontend/src/bundles/resume-access/pages/styles.module.scss
  frontend/src/bundles/resume-access/resume-access-api.ts
  frontend/src/bundles/resume-access/resume-access.ts
  frontend/src/bundles/resume-access/store/actions.ts
  frontend/src/bundles/resume-access/store/index.ts
  frontend/src/bundles/resume-access/store/slice.ts
  frontend/src/bundles/resume-access/types/types.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/helpers/base-url.ts
  frontend/src/helpers/helpers.ts
  frontend/src/index.tsx
  shared/src/bundles/resumes/enums/resumes-api-path.enum.ts
  shared/src/bundles/resumes/resumes.ts
  shared/src/bundles/resumes/types/resume-share-access-create-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-access-create-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-access-get-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-access-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-create-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-create-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-delete-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-delete-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-details-get-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-details-get-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-get-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-get-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-share-response-dto.type.ts
  shared/src/bundles/resumes/types/types.ts
  shared/src/index.ts
Labels: frontend, backend, shared

#183 rg-178: * Added stub to fix user delete error.
  frontend/src/bundles/users/users-api.ts
Labels: bug, frontend

#185 rg-179: Fix imports
  backend/src/bundles/recently-viewed/recently-viewed.repository.ts
  backend/src/bundles/stripe-events/stripe-events.service.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/bundles/recently-viewed/enums/enums.ts
Labels: bug, frontend, backend, shared

#191 rg-182: * fix route
  frontend/src/bundles/common/enums/app-route.enum.ts
Labels: bug, frontend

#193 rg-185: + add auth, * fix delete message
  backend/src/bundles/resume-share/enums/error-messages.ts
  backend/src/bundles/resume-share/resume-share.repository.ts
  frontend/src/bundles/resume-access/resume-access-api.ts
Labels: bug, frontend, backend

#194 rg-186: Fix remove auth error, add token
  backend/src/bundles/oauth/oauth.service.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/framework/api/http-api.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/is-server-error-range.helper.ts
Labels: frontend, backend, fix

#202 rg-200: Landing page BR-19
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/landing-page/landing-page.tsx
Labels: bug, frontend, fix

#189 rg-129: Change Profile Data
  backend/src/bundles/profile/profile.repository.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/profile/profile-api.ts
  frontend/src/bundles/profile/store/actions.ts
  frontend/src/bundles/profile/store/profile.store.ts
  frontend/src/bundles/profile/store/slice.ts
  frontend/src/bundles/users/pages/profile.tsx
  frontend/src/bundles/users/users-api.ts
  shared/src/bundles/users/enums/users-api-path.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-update-profile-and-email-request-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/index.ts
Labels: enhancement, frontend, backend, shared

#203 rg-199: Header navigation centering
  frontend/src/bundles/common/components/tabs/style.module.scss
Labels: frontend, fix

#201 rg-188: The eye icon is covered by another icon when a user enters a password on the "Sign Up" page
  frontend/src/assets/css/reset.scss
Labels: bug, frontend, fix

#199 rg-198: Changed gap according to design file
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
Labels: frontend, fix

#198 rg-196: Fix link font family variable
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
Labels: frontend, fix

#200 rg-189: Add a button for unregistered users to sign up on the shared resume page.
  frontend/src/bundles/resume-access/pages/resume-access.tsx
Labels: enhancement, frontend

#197 rg-130: Access Token Refresh
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.store.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/framework/api/http-api.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/framework/http/enums/http-code.enum.ts
Labels: enhancement, frontend, backend, shared

#182 rg-137: Add oauth linkedin feature
  backend/.env.example
  backend/src/bundles/oauth/config/oauth-config.ts
  backend/src/bundles/oauth/oauth.controller.ts
  backend/src/bundles/oauth/types/types.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/server-application/constants/public-routes.ts
  frontend/src/assets/img/social-media/linkedin.svg
  frontend/src/assets/img/social-media/social-media-svg.ts
  frontend/src/bundles/auth/components/social-media-links/helpers/social-media-links-with-icons.ts
  shared/src/bundles/open-auth/enums/oauth-strategy.enum.ts
  shared/src/bundles/open-auth/enums/open-auth-api-get-user-url.enum.ts
  shared/src/bundles/open-auth/enums/open-auth-api-path.enum.ts
  shared/src/bundles/open-auth/open-auth.ts
  shared/src/bundles/open-auth/types/linkedin/user-linkedin-data-response-dto.type.ts
  shared/src/bundles/open-auth/types/types.ts
  shared/src/index.ts
Labels: enhancement, frontend, backend, shared, ENV

#174 rg-146: Add stripe event dispatcher
  backend/.env.example
  backend/src/bundles/stripe-events/constants/constants.ts
  backend/src/bundles/stripe-events/constants/email-payload.ts
  backend/src/bundles/stripe-events/enums/email-subject.enum.ts
  backend/src/bundles/stripe-events/enums/enums.ts
  backend/src/bundles/stripe-events/enums/stripe-events.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-plan-events.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-price-events.enum.ts
  backend/src/bundles/stripe-events/enums/stripe-product-events.enum.ts
  backend/src/bundles/stripe-events/handlers/handlers.ts
  backend/src/bundles/stripe-events/handlers/stripe-event-dispatcher.ts
  backend/src/bundles/stripe-events/handlers/subscription-created-event-handler.ts
  backend/src/bundles/stripe-events/handlers/subscription-plan-created-event-handler.ts
  backend/src/bundles/stripe-events/handlers/subscription-plan-deleted-event-handler.ts
  backend/src/bundles/stripe-events/helpers/format-date.ts
  backend/src/bundles/stripe-events/helpers/subscription-email-generator.ts
  backend/src/bundles/stripe-events/interfaces/event-dispatcher.interface.ts
  backend/src/bundles/stripe-events/interfaces/event-handler.interface.ts
  backend/src/bundles/stripe-events/interfaces/interfaces.ts
  backend/src/bundles/stripe-events/stripe-events.service.ts
  backend/src/bundles/stripe-events/stripe-events.ts
  backend/src/bundles/stripe-events/types/stripe-customer.type.ts
  backend/src/bundles/stripe-events/types/subscription-details.ts
  backend/src/bundles/stripe-events/types/types.ts
  backend/src/common/mail-service/mail-service.package.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/server-application/server-app.ts
Labels: enhancement, backend, ENV

#65 rg-53: add filters
  backend/src/bundles/industries/enums/enums.ts
  backend/src/bundles/industries/industries.controller.ts
  backend/src/bundles/industries/industries.model.ts
  backend/src/bundles/industries/industries.repository.ts
  backend/src/bundles/industries/industries.service.ts
  backend/src/bundles/industries/industries.ts
  backend/src/bundles/industries/types/industries.controller.type.ts
  backend/src/bundles/industries/types/industries.repository.type.ts
  backend/src/bundles/industries/types/industries.service.type.ts
  backend/src/bundles/industries/types/types.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20240222190958_add_industries_table.ts
  backend/src/seeds/fill-database.ts
  backend/src/seeds/seed-data/industries-seed.ts
  backend/src/seeds/seed-data/seed-data.ts
  backend/src/seeds/seed-types/seed-data.type.ts
  frontend/package.json
  frontend/src/assets/img/filter-icon.svg
  frontend/src/bundles/home/components/components.tsx
  frontend/src/bundles/home/components/filter/components/components.ts
  frontend/src/bundles/home/components/filter/components/dropdown-item/dropdown-item.tsx
  frontend/src/bundles/home/components/filter/components/dropdown-item/styles.module.scss
  frontend/src/bundles/home/components/filter/filter.tsx
  frontend/src/bundles/home/components/filter/styles.module.scss
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
  frontend/src/bundles/industries/enums/enums.ts
  frontend/src/bundles/industries/industries-api.ts
  frontend/src/bundles/industries/industries.ts
  frontend/src/bundles/industries/store/actions.ts
  frontend/src/bundles/industries/store/index.ts
  frontend/src/bundles/industries/store/slice.ts
  frontend/src/bundles/industries/type/types.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/svg.d.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  shared/src/bundles/industries/enums/enums.ts
  shared/src/bundles/industries/enums/industries-api-path.enum.ts
  shared/src/bundles/industries/industries.ts
  shared/src/bundles/industries/types/industry.type.ts
  shared/src/bundles/industries/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: root, frontend, backend, shared

#195 rg-187: Fix log out after oauth log in
  frontend/package.json
  frontend/src/bundles/common/components/layout/header/user-profile/user-profile.tsx
  frontend/src/bundles/common/hooks/use-redirect/use-redirect.ts
  frontend/src/framework/api/http-api.ts
  frontend/src/helpers/helpers.ts
  package-lock.json
  shared/src/helpers/cookie/cookie.ts
  shared/src/helpers/cookie/get-cookie/get-cookie.helper.ts
  shared/src/helpers/cookie/set-cookie/set-cookie.helper.ts
  shared/src/helpers/helpers.ts
  shared/src/index.ts
Labels: root, frontend, shared, fix

#204 rg-183: Add Shadow And Links
  backend/src/common/plugins/plugins.ts
  backend/src/common/server-application/server-app.ts
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/common/components/layout/header/user-profile/menu/menu.tsx
  frontend/src/bundles/common/components/layout/header/user-profile/menu/styles.module.scss
  frontend/src/bundles/common/enums/app-route.enum.ts
Labels: frontend, backend

#229 rg-222: Add template name
  backend/src/bundles/templates/template.entity.ts
  backend/src/bundles/templates/template.model.ts
  backend/src/bundles/templates/types/template.type.ts
  backend/src/migrations/20240314141509_add_template_name.ts
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.module.scss
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/store/actions.ts
  frontend/src/bundles/edit-template/store/slice.ts
  frontend/src/bundles/home/pages/templates.tsx
  shared/src/bundles/templates/types/template-dto.type.ts
  shared/src/bundles/templates/types/template-update-item-request-dto.type.ts
Labels: enhancement, frontend, backend, shared

#224 rg-211: Add LinkeIn to social media profiles
  frontend/src/bundles/profile/helpers/social-media-profiles.helper.ts
Labels: frontend

#219 rg-212: * fix BR-20 BR-21
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/styles.module.scss
Labels: bug, frontend

#168 rg-155: Fix add error message (a non-existent email)
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/common/controller/types/api-handler-response.type.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/common/hooks/use-form-error/use-form-error.hook.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/enums/server-error-type.enum.ts
  shared/src/framework/exceptions/auth-exception/auth-error.exception.ts
Labels: bug, frontend, backend, shared

#214 rg-207: Edit Create Template Button Styles
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/home/components/home-top-section/styles.module.scss
  frontend/src/bundles/home/pages/styles.module.scss
  frontend/src/bundles/home/pages/templates.tsx
Labels: bug, frontend

#187 rg-151: User avatar upload
  backend/package.json
  backend/src/bundles/profile/profile.controller.ts
  backend/src/bundles/profile/profile.model.ts
  backend/src/bundles/profile/profile.repository.ts
  backend/src/bundles/profile/profile.service.ts
  backend/src/bundles/profile/profile.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/common/files/file-upload-client.ts
  backend/src/common/files/file.service.ts
  backend/src/common/files/interfaces/file-upload-client.interface.ts
  backend/src/common/files/interfaces/file.service.interface.ts
  backend/src/common/files/interfaces/interfaces.ts
  backend/src/common/files/types/file-upload-request-dto.type.ts
  backend/src/common/files/types/file-upload-response-dto-type.ts
  backend/src/common/plugins/file-upload/file-upload-plugin.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
  frontend/src/bundles/common/components/user-photo-uploader/types/image-blob.type.ts
  frontend/src/bundles/common/components/user-photo-uploader/types/image.type.ts
  frontend/src/bundles/common/components/user-photo-uploader/types/types.ts
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-cropper.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-modal.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-preview.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-uploader.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-wrapper.tsx
  frontend/src/bundles/profile/profile-api.ts
  frontend/src/bundles/profile/store/actions.ts
  frontend/src/bundles/profile/store/profile.store.ts
  frontend/src/bundles/profile/store/slice.ts
  frontend/src/bundles/users/pages/profile.tsx
  frontend/src/framework/api/http-api.ts
  package-lock.json
  shared/src/bundles/files/enums/file-upload.validation-rule.ts
  shared/src/bundles/profile/enums/enums.ts
  shared/src/bundles/profile/enums/profile-api-path.enum.ts
  shared/src/bundles/profile/profile.ts
  shared/src/bundles/profile/types/profile-service.type.ts
  shared/src/bundles/profile/types/profile-type.ts
  shared/src/bundles/profile/types/types.ts
  shared/src/enums/content-type.enum.ts
  shared/src/index.ts
Labels: root, frontend, backend, shared

#225 rg-190: Add drag'n'drop to template editor
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-template-sensors/use-template-sensors.hook.ts
  frontend/src/bundles/edit-template/components/element-overlay/element-overlay.tsx
  frontend/src/bundles/edit-template/components/element-overlay/styles.module.scss
  frontend/src/bundles/edit-template/components/template-block/regular-block.tsx
  frontend/src/bundles/edit-template/components/template-block/styles.module.scss
  frontend/src/bundles/edit-template/components/template-block/template-block.tsx
  frontend/src/bundles/edit-template/components/template-container/regular-container.tsx
  frontend/src/bundles/edit-template/components/template-container/styles.module.scss
  frontend/src/bundles/edit-template/components/template-container/template-container.tsx
  frontend/src/bundles/edit-template/components/template-editor/template-editor.tsx
  frontend/src/bundles/edit-template/components/template-item/item-tag.tsx
  frontend/src/bundles/edit-template/components/template-item/regular-item.tsx
  frontend/src/bundles/edit-template/components/template-item/styles.module.scss
  frontend/src/bundles/edit-template/components/template-item/template-item.tsx
  frontend/src/bundles/edit-template/context/template-context.ts
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/helpers/block-enabling.helper.ts
  frontend/src/bundles/edit-template/helpers/sorting.helper.ts
  frontend/src/bundles/edit-template/store/actions.ts
Labels: enhancement, frontend

#221 rg-210: Migration to fix oauth connections check constraint
  backend/src/migrations/20240313173655_fix_check_constraint_oauth_connections.ts
Labels: enhancement, backend

#222 rg-208: View template page
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/bundles/view-template-page/styles.module.scss
  frontend/src/bundles/view-template-page/view-template-page.tsx
  frontend/src/index.tsx
Labels: frontend

#244 rg-224: Changed subscription item titles
  frontend/src/bundles/users/components/subscription/subscriptions.tsx
Labels: frontend, fix

#230 rg-225: Invalid Password Message Fix BR-24
  shared/src/bundles/users/enums/user-validation-message.enum.ts
Labels: bug, shared

#253 rg-244: Fix template not loading after pressing "Edit template"
  frontend/src/bundles/edit-template/edit-template.tsx
Labels: bug, frontend

#240 rg-236: Changed user not found error.
  backend/src/bundles/auth/auth.service.ts
Labels: bug, backend

#239 rg-232: Updated template view in homepage.
  backend/src/seeds/seed-data/templates-seed.ts
  frontend/src/bundles/home/pages/home.tsx
Labels: bug, frontend, backend

#251 rg-235: Center Template Editor
  frontend/src/bundles/edit-template/components/template-editor/template-editor.tsx
  frontend/src/bundles/edit-template/styles.module.scss
Labels: frontend, fix

#247 rg-218: Edit Scrollbar Styles
  frontend/src/assets/css/scaffolding.scss
Labels: enhancement, frontend, fix

#173 rg-156: Add error for registration page (email taken)
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/common/hooks/use-form-error/use-form-error.hook.ts
  shared/src/enums/exception-message.enum.ts
  shared/src/enums/server-error-type.enum.ts
Labels: bug, frontend, backend, shared

#241 rg-238: Fix template editor
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.module.scss
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/styles.module.scss
Labels: bug, frontend, fix

#237 rg-227: Edit Save Button Styles
  frontend/src/bundles/users/components/profile-form/profile-form.tsx
  frontend/src/bundles/users/components/profile-form/style.module.scss
Labels: bug, frontend

#245 rg-231: Added template name
  frontend/src/bundles/view-template-page/styles.module.scss
  frontend/src/bundles/view-template-page/view-template-page.tsx
Labels: frontend

#223 rg-125: Add rate limiter for login/registration
  backend/src/bundles/auth/auth.controller.ts
  backend/src/common/rate-limit/enums/enums.ts
  backend/src/common/rate-limit/enums/reset-password.ts
  backend/src/common/rate-limit/enums/retry-settings.ts
  backend/src/common/rate-limit/login-registration-rate-limit.ts
  backend/src/common/rate-limit/rate-limit.ts
  backend/src/common/rate-limit/reset-password.rate-limit.ts
  backend/src/common/rate-limit/store/memory-store.ts
  backend/src/common/server-application/server-app.ts
Labels: backend

#236 rg-223: filter options not shownn
  frontend/src/bundles/home/components/filter/styles.module.scss
Labels: frontend

#242 rg-239: create Q&A page
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/question-and-answer-page/components/question-and-answer-item/question-and-answer-item.tsx
  frontend/src/bundles/question-and-answer-page/components/question-and-answer-item/styles.module.scss
  frontend/src/bundles/question-and-answer-page/components/question-and-answer/question-and-answer.tsx
  frontend/src/bundles/question-and-answer-page/components/question-and-answer/styles.module.scss
  frontend/src/bundles/question-and-answer-page/question-and-answer-page.tsx
  frontend/src/bundles/question-and-answer-page/styles.module.scss
  frontend/src/index.tsx
Labels: frontend

#211 rg-197: Save template screenshot
  backend/src/bundles/templates/template.service.ts
  backend/src/bundles/templates/templates.ts
  backend/src/common/files/file-upload-client.ts
  backend/src/common/plugins/file-upload/file-upload-plugin.ts
  frontend/src/bundles/edit-template/components/template-editor/styles.module.scss
  frontend/src/bundles/edit-template/components/template-editor/template-editor.tsx
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/store/actions.ts
  shared/src/bundles/templates/types/template-update-item-request-dto.type.ts
  shared/src/helpers/helpers.ts
  shared/src/index.ts
Labels: frontend, backend, shared

#227 rg-202: Create Popup Hint For Password
  backend/src/migrations/20240304112515_add_id_generation_to_database.ts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/common/components/form-group/form-group.tsx
  frontend/src/bundles/common/components/form-group/styles.module.scss
  frontend/src/bundles/common/components/hint/components/hint-row.tsx
  frontend/src/bundles/common/components/hint/hint.tsx
  frontend/src/bundles/common/components/hint/styles.module.scss
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/password-input/password-input.tsx
  frontend/src/bundles/common/components/tooltip/tooltip.tsx
  frontend/src/bundles/common/enums/components/icon-name.enum.ts
  frontend/src/bundles/common/types/hint/hint-row.type.ts
  frontend/src/bundles/common/types/types.ts
Labels: enhancement, frontend, backend

#258 rg-243: Link to create resume page
  frontend/src/bundles/home/components/cards/create-new-card/create-new-card.tsx
  frontend/src/bundles/home/components/cards/create-new-card/styles.module.scss
Labels: frontend, fix

#217 rg-173: + add header to profile page
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header-wrapper/components/avatar-header/avatar-header.tsx
  frontend/src/bundles/common/components/header-wrapper/components/get-started-header/get-started-header.tsx
  frontend/src/bundles/common/components/header-wrapper/components/get-started-header/styles.module.scss
  frontend/src/bundles/common/components/header-wrapper/constants/constants.ts
  frontend/src/bundles/common/components/header-wrapper/constants/get-started-header-routes.ts
  frontend/src/bundles/common/components/header-wrapper/constants/no-header-routes.ts
  frontend/src/bundles/common/components/header-wrapper/header-wrapper.tsx
  frontend/src/bundles/common/components/layout/header/styles.module.scss
  frontend/src/bundles/landing-page/landing-page.tsx
  frontend/src/bundles/landing-page/styles.module.scss
  frontend/src/bundles/main-page/main-page.tsx
  frontend/src/bundles/resume-access/pages/resume-access.tsx
  frontend/src/bundles/resume/pages/create-resume/create-resume.tsx
  frontend/src/bundles/templates-page/templates-page.tsx
  frontend/src/bundles/view-template-page/view-template-page.tsx
  frontend/src/index.tsx
Labels: frontend

#260 rg-255: Fixed route prefix
  frontend/src/bundles/resume/resume-api.ts
Labels: frontend

#262 rg-256: Removed header from forgot password page
  frontend/src/bundles/common/components/header-wrapper/constants/no-header-routes.ts
Labels: frontend, fix

#190 rg-180: Fix migration add id generation
  backend/src/bundles/stripe-events/constants/email-payload.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/migrations/20240227105708_fix_rollback_resume_share_table.ts
  backend/src/migrations/20240304085756_fix_migration_before_add_id_generation.ts
  backend/src/migrations/20240305095726_add_id_generation_to_new_tables.ts
  backend/src/seeds/fill-database.ts
  backend/src/seeds/seed-data/contacts-seed.ts
  backend/src/seeds/seed-data/education-seed.ts
  backend/src/seeds/seed-data/experience-seed.ts
  backend/src/seeds/seed-data/language-seed.ts
  backend/src/seeds/seed-data/oauth-connections-seed.ts
  backend/src/seeds/seed-data/oauth-user-seed.ts
  backend/src/seeds/seed-data/resume-shared-access-seed.ts
  backend/src/seeds/seed-data/resumes-seed.ts
  backend/src/seeds/seed-data/reviews-seed.ts
  backend/src/seeds/seed-data/seed-data.ts
  backend/src/seeds/seed-data/subscription-plan-seed.ts
  backend/src/seeds/seed-data/users-seed.ts
  backend/src/seeds/seed-types/seed-data.type.ts
  frontend/src/framework/store/store.package.ts
Labels: bug, frontend, backend

#263 rg-233: New Avatar Section Button Style
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-preview.tsx
Labels: frontend, fix

#266 rg-262: Fix button jumping
  frontend/src/bundles/home/components/filter/styles.module.scss
Labels: frontend, fix

#265 rg-251: Fix pdf download
  backend/src/bundles/pdf/constants/constants.ts
  backend/src/bundles/pdf/constants/reset-styles.ts
  backend/src/bundles/pdf/enums/enums.ts
  backend/src/bundles/pdf/enums/pdf-settings.enum.ts
  backend/src/bundles/pdf/helpers/html-reset.helper.ts
  backend/src/bundles/pdf/pdf.service.ts
  backend/src/bundles/templates/constants/prettified-template.ts
  frontend/src/bundles/edit-template/components/template-editor/styles.module.scss
  frontend/src/bundles/resume/components/resume-editor/styles.module.scss
Labels: frontend, backend, fix

#257 rg-246: Add templates sorting.
  backend/src/bundles/templates/template.controller.ts
  backend/src/bundles/templates/template.repository.ts
  backend/src/bundles/templates/template.service.ts
  backend/src/bundles/templates/types/find-all-options.type.ts
  backend/src/bundles/templates/types/template-repository.type.ts
  backend/src/bundles/templates/types/template-service.type.ts
  backend/src/bundles/templates/types/types.ts
Labels: enhancement, backend

#264 rg-253: * move header to ResumesHeader
  frontend/src/bundles/common/components/header-wrapper/components/resumes-header/resumes-header.tsx
  frontend/src/bundles/common/components/header-wrapper/components/resumes-header/styles.module.scss
  frontend/src/bundles/common/components/header-wrapper/constants/constants.ts
  frontend/src/bundles/common/components/header-wrapper/constants/resumes-header-routes.ts
  frontend/src/bundles/common/components/header-wrapper/header-wrapper.tsx
  frontend/src/bundles/resume/pages/resume-page.tsx
  frontend/src/bundles/resume/pages/styles.module.scss
Labels: bug, frontend

#270 rg-270: * change header in /resumes/create route
  frontend/src/bundles/common/components/header-wrapper/constants/avatar-header-routes.ts
  frontend/src/bundles/common/components/header-wrapper/constants/constants.ts
  frontend/src/bundles/common/components/header-wrapper/header-wrapper.tsx
Labels: bug, frontend

#243 rg-230: + added template seed data
  backend/src/seeds/fill-database.ts
  backend/src/seeds/seed-data/templates-seed.ts
Labels: backend

#267 rg-242: add sort functionality. Dep: rg-246
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
  frontend/src/bundles/home/components/resume-section/resume-section.tsx
  frontend/src/bundles/home/components/template-section/template-section.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/bundles/resume/resume-api.ts
  frontend/src/bundles/resume/store/actions.ts
  frontend/src/bundles/templates-page/template-api.ts
  frontend/src/bundles/templates-page/types/types.ts
Labels: frontend

#269 rg-252: Refactor template resume editors
  backend/src/bundles/templates/constants/prettified-template.ts
  backend/src/bundles/templates/constants/test-template.ts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/dropdown/dropdown.tsx
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-modal.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-wrapper.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/layout-item-name/layout-item-name.enum.ts
  frontend/src/bundles/cv-editor/components/container-layout-item/layout-item.tsx
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.tsx
  frontend/src/bundles/edit-template/components/editable-template.tsx
  frontend/src/bundles/edit-template/components/template-block/template-block.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/resume/helpers/resume-mock/available-resume-keys.helper.ts
  frontend/src/bundles/resume/helpers/resume-mock/create-resume-from-template-settings.helper.ts
  frontend/src/bundles/resume/helpers/resume-mock/update-resume-fields-from-template-settings.helper.ts
  frontend/src/bundles/resume/helpers/update-template-settings-blocks.helper.ts
  frontend/src/bundles/resume/pages/create-resume/create-resume.tsx
  frontend/src/bundles/resume/pages/create-resume/styles.module.scss
  frontend/src/bundles/resume/store/actions.ts
  frontend/src/bundles/resume/store/slice.ts
  shared/src/bundles/resumes/types/resume.type.ts
  shared/src/bundles/templates/enums/template-block-titles.enum.ts
Labels: frontend, backend, shared

#275 rg-274: fix template seeds
  backend/src/seeds/seed-data/templates-seed.ts
Labels: bug, backend

#277 rg-277: Remove Duplicate Identifier
  shared/src/bundles/resumes/types/resume.type.ts
Labels: shared, fix

#278 rg-278: enabled blocks to see the resumes(hotfix)
  backend/src/bundles/templates/constants/prettified-template.ts
  backend/src/bundles/templates/constants/test-template.ts
Labels: backend, fix

#271 rg-271: Skip avatar urls
  backend/src/bundles/users/user.service.ts
Labels: backend, fix

#272 rg-272: qa title jumps on header
  frontend/src/bundles/question-and-answer-page/styles.module.scss
Labels: enhancement, frontend

#274 rg-269: Fix Auth Error Messages Appearance
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/store/slice.ts
  shared/src/bundles/resumes/types/resume.type.ts
  shared/src/enums/exception-message.enum.ts
Labels: frontend, backend, shared, fix

#280 rg-249: Change Style of Paragraph
  frontend/src/bundles/users/components/profile-form/profile-form.tsx
  frontend/src/bundles/users/components/profile-form/style.module.scss
Labels: frontend

#232 rg-220: template customize
  frontend/src/assets/img/color-select-svgrepo-com.svg
  frontend/src/assets/img/font-svgrepo-com.svg
  frontend/src/bundles/edit-template/constants/constants.ts
  frontend/src/bundles/edit-template/constants/dropdown-items.constant.ts
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/enums/editor-styles.enum.ts
  frontend/src/bundles/edit-template/enums/enum.ts
  frontend/src/bundles/edit-template/enums/font-styles.ts
  frontend/src/bundles/edit-template/helpers/block-header.helper.ts
  frontend/src/bundles/edit-template/helpers/block-styles.helper.ts
  frontend/src/bundles/edit-template/styles.module.scss
  frontend/src/bundles/edit-template/types/font-styles-change.type.ts
  frontend/src/bundles/edit-template/types/styles-change.type.ts
Labels: frontend

#283 rg-280: add template selection
  backend/src/bundles/resumes/resume.service.ts
  frontend/src/bundles/common/components/header-wrapper/header-wrapper.tsx
  frontend/src/bundles/common/hooks/use-resumes/use-resumes.hook.ts
  frontend/src/bundles/cv-editor/components/container-layout-item/layout-item.tsx
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.tsx
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
  frontend/src/bundles/home/components/home-top-section/components/create-resume-button/create-resume-button.tsx
  frontend/src/bundles/home/components/home-top-section/components/create-resume-button/styles.module.scss
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/resume/helpers/helpers.ts
  frontend/src/bundles/resume/helpers/resume-mock/create-resume-from-template-settings.helper.ts
  frontend/src/bundles/resume/helpers/resume-mock/update-resume-fields-from-template-settings.helper.ts
  frontend/src/bundles/resume/helpers/update-template-settings-avatar.helper.ts
  frontend/src/bundles/resume/pages/edit-resume/edit-resume.tsx
  frontend/src/bundles/resume/store/actions.ts
  frontend/src/bundles/resume/store/slice.ts
  frontend/src/bundles/templates-page/store/slice.ts
  frontend/src/index.tsx
Labels: frontend, backend

#285 rg-287: Changed resume image seeds
  backend/src/seeds/fill-database.ts
  backend/src/seeds/seed-data/resumes-seed.ts
Labels: backend, fix

#286 rg-248: Remove Filter Button
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
Labels: frontend

#289 rg-293: change delete button color
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
Labels: frontend

#279 rg-279: Add delete templates action.
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/bundles/templates-page/store/actions.ts
  frontend/src/bundles/templates-page/store/index.ts
  frontend/src/bundles/templates-page/store/slice.ts
  frontend/src/bundles/templates-page/template-api.ts
Labels: frontend

#290 rg-288: Fix screenshot images
  backend/src/bundles/templates/constants/prettified-template.ts
  frontend/src/bundles/common/hooks/use-take-screenshot/use-take-screenshot.hook.ts
Labels: bug, frontend, backend

#295 rg-298: Add titles dates to resumes templates
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/helpers/format-date-to-locale-string.helper.ts
  frontend/src/helpers/helpers.ts
Labels: frontend

#284 rg-289: Fix Auth And Email Registration Flow
  backend/src/bundles/auth/auth.service.ts
  frontend/src/bundles/auth/components/email-confirmation-fail-page/email-confirmation-fail-page.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  shared/src/enums/exception-message.enum.ts
Labels: frontend, backend, shared, fix

#292 rg-297: * fix display with blank title
  frontend/src/bundles/statistics-page/pages/statistics-page.tsx
Labels: bug, frontend

#294 rg-296: * add dropdowns for text styles
  frontend/src/bundles/edit-template/constants/constants.ts
  frontend/src/bundles/edit-template/constants/dropdown-items.constant.ts
  frontend/src/bundles/edit-template/edit-template.tsx
  frontend/src/bundles/edit-template/enums/enum.ts
  frontend/src/bundles/edit-template/enums/enums.ts
  frontend/src/bundles/edit-template/enums/font-family.ts
  frontend/src/bundles/edit-template/enums/font-size.ts
Labels: frontend

#291 rg-294: * change color and size of editor icons
  frontend/src/bundles/edit-template/styles.module.scss
Labels: frontend

#296 rg-292: Email field disable
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/users/components/profile-form/profile-form.tsx
Labels: frontend, fix

#288 rg-295: fix styles payment profile pages
  frontend/src/bundles/common/components/header-wrapper/constants/no-header-routes.ts
  frontend/src/bundles/payment/components/subscription-card/subscription-card.tsx
  frontend/src/bundles/payment/pages/payment/payment.tsx
  frontend/src/bundles/payment/pages/payment/styles.module.scss
  frontend/src/bundles/payment/store/slice.ts
  frontend/src/bundles/users/components/profile-info/profile-info.tsx
  frontend/src/bundles/users/components/profile-info/style.module.scss
  frontend/src/bundles/users/components/subscription-cancel/components/subscription-cancelled-result/styles.module.scss
Labels: frontend

#297 rg-302: Changed styles to make template background without empty spaces
  backend/src/bundles/templates/constants/prettified-template.ts
  backend/src/bundles/templates/constants/test-template.ts
  frontend/src/bundles/edit-template/components/template-block/styles.module.scss
Labels: enhancement, frontend, backend

#298 rg-305: + add templates delete on home page
  frontend/src/bundles/home/pages/home.tsx
Labels: bug, frontend

#299 rg-303: Last letter disappear on screenshot
  backend/src/bundles/resumes/interfaces/resume-repository.interface.ts
  backend/src/bundles/resumes/interfaces/resume-service.interface.ts
  backend/src/bundles/resumes/resume.controller.ts
  backend/src/bundles/resumes/resume.repository.ts
  backend/src/bundles/resumes/resume.service.ts
  frontend/src/bundles/resume/pages/edit-resume/edit-resume.tsx
  frontend/src/bundles/resume/store/actions.ts
Labels: frontend, backend

#301 rg-307: Fix stretched image
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
Labels: bug, frontend, fix

#303 rg-308: fix delete button position
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
Labels: bug, frontend

#305 rg-309: Add template selection with one template
  frontend/src/bundles/home/components/home-top-section/components/create-resume-button/create-resume-button.tsx
  frontend/src/helpers/get-random-templates.helper.ts
  frontend/src/helpers/helpers.ts
Labels: bug, frontend

#308 rg-316: Correct resumes after deletion, logs for sign up
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/resumes/resume.controller.ts
  frontend/src/bundles/resume/store/actions.ts
Labels: frontend, backend

#312 rg-317: build pug file
  backend/package.json
Labels: backend, fix

#306 rg-306: Remove default background for university title in templates
  backend/src/bundles/templates/constants/prettified-template.ts
  backend/src/bundles/templates/constants/test-template.ts
Labels: enhancement, backend

#300 rg-304: Save recently viewed resumes. Depends on rg-303
  backend/src/bundles/recently-viewed/helpers/get-unique-resumes-viewed-by-user.ts
  backend/src/bundles/recently-viewed/recently-viewed.controller.ts
  backend/src/bundles/recently-viewed/recently-viewed.repository.ts
  backend/src/bundles/recently-viewed/recently-viewed.service.ts
  backend/src/bundles/recently-viewed/recently-viewed.ts
  backend/src/bundles/recently-viewed/types/get-resumes-viewed-by-user-query.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.controller.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.repository.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.service.type.ts
  backend/src/bundles/recently-viewed/types/types.ts
  backend/src/bundles/resumes/resume.controller.ts
  frontend/src/bundles/home/components/components.tsx
  frontend/src/bundles/home/components/recently-viewed-resumes/recently-viewed-resumes.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/recently-viewed/common/enums/enums.ts
  frontend/src/bundles/recently-viewed/common/resumes-limit.ts
  frontend/src/bundles/recently-viewed/common/types/types.ts
  frontend/src/bundles/recently-viewed/recently-viewed-api.ts
  frontend/src/bundles/recently-viewed/recently-viewed.ts
  frontend/src/bundles/recently-viewed/store/actions.ts
  frontend/src/bundles/recently-viewed/store/index.ts
  frontend/src/bundles/recently-viewed/store/slice.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/recently-viewed/recently-viewed.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-query.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-resumes-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/types.ts
  shared/src/index.ts
Labels: frontend, backend, shared, fix

#302 rg-300: add recently viewed resumes on home page
  backend/src/bundles/recently-viewed/helpers/get-unique-resumes-viewed-by-user.ts
  backend/src/bundles/recently-viewed/recently-viewed.controller.ts
  backend/src/bundles/recently-viewed/recently-viewed.repository.ts
  backend/src/bundles/recently-viewed/recently-viewed.service.ts
  backend/src/bundles/recently-viewed/types/get-resumes-viewed-by-user-query.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.controller.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.repository.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.service.type.ts
  backend/src/bundles/recently-viewed/types/types.ts
  frontend/src/bundles/home/components/components.tsx
  frontend/src/bundles/home/components/recently-viewed-resumes/recently-viewed-resumes.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/recently-viewed/common/enums/enums.ts
  frontend/src/bundles/recently-viewed/common/resumes-limit.ts
  frontend/src/bundles/recently-viewed/common/types/types.ts
  frontend/src/bundles/recently-viewed/recently-viewed-api.ts
  frontend/src/bundles/recently-viewed/recently-viewed.ts
  frontend/src/bundles/recently-viewed/store/actions.ts
  frontend/src/bundles/recently-viewed/store/index.ts
  frontend/src/bundles/recently-viewed/store/slice.ts
  frontend/src/framework/store/store.package.ts
  shared/src/bundles/recently-viewed/recently-viewed.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-query.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-resumes-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/types.ts
  shared/src/index.ts
Labels: frontend, backend, shared

#315 rg-318: Added optional chaining
  frontend/src/bundles/home/components/recently-viewed-resumes/recently-viewed-resumes.tsx
Labels: frontend, fix
