Repository BinaryStudioAcademy/bsa-winter-2023-2024-resumegemm, pull requests merged in 2024-02, with the labels that each got.

#3 rg-5: init-database
  .gitignore
  backend/package.json
  backend/src/bundles/profile/profile.model.ts
  backend/src/bundles/profile/profile.ts
  backend/src/bundles/resumes/resume.model.ts
  backend/src/bundles/resumes/resumes.ts
  backend/src/bundles/reviews/review.model.ts
  backend/src/bundles/reviews/reviews.ts
  backend/src/bundles/templates/template.model.ts
  backend/src/bundles/templates/templates.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.model.ts
  backend/src/common/database/abstract.model.ts
  backend/src/common/database/database.package.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/database/enums/enums.ts
  backend/src/common/enums/enums.ts
  backend/src/migrations/20230215152530_add_users_table.ts
  backend/src/migrations/20240210124346_create_tables.ts
  backend/src/migrations/20240210140524_add_relations.ts
  backend/src/seeds/fill-database.ts
  backend/src/seeds/seed-data/contacts-seed.ts
  backend/src/seeds/seed-data/education-seed.ts
  backend/src/seeds/seed-data/experience-seed.ts
  backend/src/seeds/seed-data/images-seed.ts
  backend/src/seeds/seed-data/profile-seed.ts
  backend/src/seeds/seed-data/repsonal-information-seed.ts
  backend/src/seeds/seed-data/resumes-seed.ts
  backend/src/seeds/seed-data/reviews-seed.ts
  backend/src/seeds/seed-data/seed-data.ts
  backend/src/seeds/seed-data/technical-skills-seed.ts
  backend/src/seeds/seed-data/templates-seed.ts
  backend/src/seeds/seed-data/users-seed.ts
  backend/src/seeds/seed-types/seed-data.type.ts
  package-lock.json
  project.config.ts
  readme.md
  shared/src/bundles/resumes/content/content.enum.ts
  shared/src/bundles/resumes/content/technical-skills/skill-level.enum.ts
  shared/src/bundles/resumes/content/technical-skills/technical-skills.ts
  shared/src/bundles/resumes/resumes.ts
  shared/src/bundles/users/types/user-get-all-item-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
  shared/src/index.ts
Labels: enhancement, backend

#7 rg-19: Radio/checkbox
  .gitignore
  .stylelintrc.yml
  frontend/package.json
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/img/check.svg
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/checkbox/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/radio-button/radio-button.tsx
  frontend/src/bundles/common/components/radio-button/styles.module.scss
  frontend/src/bundles/common/components/switch/styles.module.scss
  frontend/src/bundles/common/components/switch/switch.tsx
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
  package.json
Labels: enhancement, root, frontend

#8 rg-18: Add dropdown
  frontend/package.json
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/dropdown/dropdown.tsx
  frontend/src/bundles/common/components/dropdown/styles.module.scss
  package-lock.json
Labels: enhancement, frontend

#15 rg-11: Preview content page layout
  frontend/package.json
  frontend/src/assets/img/mockResume.png
  frontend/src/assets/img/plusCircleIcon.svg
  frontend/src/assets/img/resumeIcon.svg
  frontend/src/bundles/home/components/cards/create-new-card/create-new-card.tsx
  frontend/src/bundles/home/components/cards/create-new-card/styles.module.scss
  frontend/src/bundles/home/components/cards/resume-card/resume-card.tsx
  frontend/src/bundles/home/components/cards/resume-card/styles.module.scss
  frontend/src/bundles/home/components/components.tsx
  frontend/src/bundles/home/components/home-top-section/components/create-resume-button/create-resume-button.tsx
  frontend/src/bundles/home/components/home-top-section/components/create-resume-button/styles.module.scss
  frontend/src/bundles/home/components/home-top-section/components/greeting/greeting.tsx
  frontend/src/bundles/home/components/home-top-section/components/greeting/styles.module.scss
  frontend/src/bundles/home/components/home-top-section/home-top-section.tsx
  frontend/src/bundles/home/components/home-top-section/styles.module.scss
  frontend/src/bundles/home/components/icons/icons.ts
  frontend/src/bundles/home/components/icons/plus-circle-icon.tsx
  frontend/src/bundles/home/components/icons/resume-icon.tsx
  frontend/src/bundles/home/components/icons/styles.module.scss
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
  frontend/src/bundles/home/components/panel-container/styles.module.scss
  frontend/src/bundles/home/components/resume-section/resume-section.tsx
  frontend/src/bundles/home/components/resume-section/styles.module.scss
  frontend/src/bundles/home/components/template-section/styles.module.scss
  frontend/src/bundles/home/components/template-section/template-section.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/styles.module.scss
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
Labels: enhancement, root, frontend

#22 rg-29: + create tooltip
  frontend/package.json
  frontend/src/assets/img/question-circle.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/tooltip/styles.module.scss
  frontend/src/bundles/common/components/tooltip/tooltip.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/tooltip/dimension-type.enum.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/preview/styles.module.scss
  package-lock.json
Labels: enhancement, root, frontend

#30 rg-34: Add error boundary
  frontend/package.json
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/error-fallback/error-fallback.tsx
  frontend/src/bundles/common/components/error-fallback/styles.module.scss
  frontend/src/index.tsx
  package-lock.json
  tsconfig.json
Labels: enhancement, root, frontend

#27 rg-4: Fix common inputs conflicts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/form-group/form-group.tsx
  frontend/src/bundles/common/components/form-group/styles.module.scss
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/input/styles.module.scss
  frontend/src/bundles/common/components/text-area/styles.module.scss
  frontend/src/bundles/common/components/text-area/text-area.tsx
  frontend/src/bundles/common/hooks/use-form-field-creator/use-form-field-creator.hook.ts
Labels: bug, enhancement, frontend

#5 rg-3: add button component
  backend/src/bundles/profile/profile.model.ts
  backend/src/bundles/resumes/resume.model.ts
  backend/src/bundles/reviews/review.model.ts
  backend/src/bundles/templates/template.model.ts
  backend/src/bundles/users/user.model.ts
  backend/src/common/database/database.package.ts
  backend/src/migrations/20240210124346_create_tables.ts
  backend/src/migrations/20240210140524_add_relations.ts
  backend/src/seeds/fill-database.ts
  frontend/package.json
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/normalize.scss
  frontend/src/assets/css/reset.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/base-button/base-button.tsx
  frontend/src/bundles/common/components/base-button/styles.module.scss
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/icon-button/icon-button.tsx
  frontend/src/bundles/common/components/icon-button/styles.module.scss
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/modal/styles.module.scss
  frontend/src/bundles/common/components/progress/progress.tsx
  frontend/src/bundles/common/components/text-editor/text-editor.tsx
  frontend/src/bundles/common/enums/components/button-color.enum.ts
  frontend/src/bundles/common/enums/components/button-size.enum.ts
  frontend/src/bundles/common/enums/components/button-type.enum.ts
  frontend/src/bundles/common/enums/components/button-variant.enum.ts
  frontend/src/bundles/common/enums/components/button-width.enum.ts
  frontend/src/bundles/common/enums/components/components.ts
  frontend/src/bundles/common/enums/components/icon-name.enum.ts
  frontend/src/bundles/common/enums/components/icon-size.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  package-lock.json
  shared/src/bundles/resumes/content/technical-skills/skill-level.enum.ts
Labels: enhancement, frontend

#40 rg-8: Sign up/in frontend
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users.ts
  frontend/src/framework/api/http-api.ts
  frontend/src/framework/api/types/http-api-options.type.ts
  frontend/src/framework/http/http.package.ts
  frontend/src/framework/storage/enums/storage-key.enum.ts
  frontend/src/framework/store/store.package.ts
Labels: enhancement, frontend

#31 rg-35: add 404 page. Dependency: rg-3
  frontend/src/bundles/not-found-page/not-found-page.tsx
  frontend/src/bundles/not-found-page/styles.module.scss
  frontend/src/index.tsx
Labels: enhancement, frontend

#10 rg-17: add calendar. Dependency: rg-19
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/assets/img/arrow.svg
  frontend/src/bundles/common/components/calendar/calendar.tsx
  frontend/src/bundles/common/components/calendar/constants/calendar.constants.ts
  frontend/src/bundles/common/components/calendar/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/switch/switch.tsx
  frontend/src/bundles/common/enums/calendar/calendar-types.enum.ts
  frontend/src/bundles/common/hooks/use-click-outside/use-click-outside.hook.ts
  frontend/src/bundles/common/types/calendar/calendar-date.ts
  frontend/src/bundles/common/types/calendar/calendar-month.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
Labels: enhancement, root, frontend

#29 rg-19: add switch onchange
  frontend/src/bundles/common/components/switch/switch.tsx
Labels: enhancement, frontend

#23 rg-10: Add page layout
  frontend/src/assets/img/logo.svg
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/layout/footer/footer.tsx
  frontend/src/bundles/common/components/layout/footer/styles.module.scss
  frontend/src/bundles/common/components/layout/header/header.tsx
  frontend/src/bundles/common/components/layout/header/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/menu/menu.tsx
  frontend/src/bundles/common/components/layout/header/user-profile/menu/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/user-profile.tsx
  frontend/src/bundles/common/components/layout/layout.ts
  package-lock.json
  package.json
Labels: enhancement, root, frontend

#50 rg-50: Stepper
  frontend/src/assets/img/tick.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/stepper/step/step.tsx
  frontend/src/bundles/common/components/stepper/step/styles.module.scss
  frontend/src/bundles/common/components/stepper/stepper.tsx
  frontend/src/bundles/common/components/stepper/styles.module.scss
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/templates.tsx
  package-lock.json
Labels: enhancement, root, frontend

#41 rg-44: Add props for checkbox
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
Labels: root, frontend

#48 rg-10: Add page layout
  frontend/src/assets/img/logo.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/layout/footer/footer.tsx
  frontend/src/bundles/common/components/layout/footer/styles.module.scss
  frontend/src/bundles/common/components/layout/header/header.tsx
  frontend/src/bundles/common/components/layout/header/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/menu/menu.tsx
  frontend/src/bundles/common/components/layout/header/user-profile/menu/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/styles.module.scss
  frontend/src/bundles/common/components/layout/header/user-profile/user-profile.tsx
  frontend/src/bundles/common/components/layout/layout.ts
  package-lock.json
  package.json
Labels: enhancement, root, frontend

#20 rg-7: sign forms
  frontend/src/bundles/auth/components/components.tsx
  frontend/src/bundles/auth/components/logo/logo.tsx
  frontend/src/bundles/auth/components/logo/styles.module.scss
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-in-form/styles.module.scss
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/styles.module.scss
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/password-input/password-input.tsx
  frontend/src/bundles/common/components/password-input/styles.module.scss
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/preview/styles.module.scss
Labels: enhancement, frontend

#51 rg-55: Add cors for development
  backend/.env.example
  backend/package.json
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/helpers/token/get-token/get-token-helper.ts
  backend/src/bundles/auth/helpers/token/verify-token/verify-token.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/enums/cookie/cookie-name.enum.ts
  backend/src/common/controller/enums/cookie/cookie.ts
  backend/src/common/controller/enums/enums.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/controller/types/api-handler-response.type.ts
  backend/src/common/plugins/authorization/authorization-plugin.ts
  backend/src/common/server-application/server-app.ts
  package-lock.json
  shared/src/bundles/auth/types/auth-service.type.ts
  shared/src/framework/exceptions/auth-exception/auth-error.exception.ts
  shared/src/framework/exceptions/exceptions.ts
  shared/src/index.ts
Labels: enhancement, root, backend, shared, ENV

#9 rg-6: Add tabs
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/tabs/nav-tab.tsx
  frontend/src/bundles/common/components/tabs/style.module.scss
  frontend/src/bundles/preview/preview.tsx
  package-lock.json
  package.json
Labels: enhancement, root, frontend

#58 rg-49: Resume builder forms
  frontend/src/bundles/cv-editor/components/online-editor/tabs-constants.tsx
  frontend/src/bundles/cv-editor/enums/languages-levels.enum.ts
  frontend/src/bundles/cv-editor/enums/technical-skills.enum.ts
  frontend/src/bundles/cv-editor/pages/certification/certificarion.tsx
  frontend/src/bundles/cv-editor/pages/certification/certification.tsx
  frontend/src/bundles/cv-editor/pages/certification/styles.module.scss
  frontend/src/bundles/cv-editor/pages/contact-info/contact-info.tsx
  frontend/src/bundles/cv-editor/pages/contact-info/styles.module.scss
  frontend/src/bundles/cv-editor/pages/education/education.tsx
  frontend/src/bundles/cv-editor/pages/education/styles.module.scss
  frontend/src/bundles/cv-editor/pages/experience/experience.tsx
  frontend/src/bundles/cv-editor/pages/experience/styles.module.scss
  frontend/src/bundles/cv-editor/pages/languages/languages.tsx
  frontend/src/bundles/cv-editor/pages/languages/styles.module.scss
  frontend/src/bundles/cv-editor/pages/personal-info/personal-info.tsx
  frontend/src/bundles/cv-editor/pages/personal-info/styles.module.scss
  frontend/src/bundles/cv-editor/pages/technical-skills/styles.module.scss
  frontend/src/bundles/cv-editor/pages/technical-skills/technical-skills.tsx
  frontend/src/bundles/cv-editor/types/certification/certification.type.ts
  frontend/src/bundles/cv-editor/types/contact-info/contact-info.type.ts
  frontend/src/bundles/cv-editor/types/education/education.type.ts
  frontend/src/bundles/cv-editor/types/languages/languages.type.ts
  frontend/src/bundles/cv-editor/types/personal-info/personal-info.type.ts
  frontend/src/bundles/cv-editor/types/technical-skills/technical-skills.type.ts
Labels: frontend

#35 rg-31: CRUD templates
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/helpers/token/verify-token/verify-token.ts
  backend/src/bundles/templates/template.controller.ts
  backend/src/bundles/templates/template.repository.ts
  backend/src/bundles/templates/template.service.ts
  backend/src/bundles/templates/templates.ts
  backend/src/bundles/templates/types/template-repository.type.ts
  backend/src/bundles/templates/types/template-service.type.ts
  backend/src/bundles/templates/types/template.type.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/server-application/server-app.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/auth/store/actions.ts
  shared/src/bundles/templates/enums/enums.ts
  shared/src/bundles/templates/enums/templates-api-path.enum.ts
  shared/src/bundles/templates/templates.ts
  shared/src/bundles/templates/types/template-create-item-request-dto.type.ts
  shared/src/bundles/templates/types/template-get-all-item-response-dto.type.ts
  shared/src/bundles/templates/types/template-get-all-response-dto.type.ts
  shared/src/bundles/templates/types/template-update-item-request-dto.type.ts
  shared/src/bundles/templates/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/framework/exceptions/auth-exception/auth-error.exception.ts
  shared/src/framework/http/types/http-method.type.ts
  shared/src/index.ts
Labels: enhancement, frontend, backend, shared

#37 rg-32: crud recently viewed
  backend/src/bundles/recently-viewed/enums/enums.ts
  backend/src/bundles/recently-viewed/recently-viewed.controller.ts
  backend/src/bundles/recently-viewed/recently-viewed.model.ts
  backend/src/bundles/recently-viewed/recently-viewed.repository.ts
  backend/src/bundles/recently-viewed/recently-viewed.service.ts
  backend/src/bundles/recently-viewed/recently-viewed.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.controller.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.repository.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.service.type.ts
  backend/src/bundles/recently-viewed/types/types.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-application.ts
  package-lock.json
  shared/src/bundles/recently-viewed/enums/enums.ts
  shared/src/bundles/recently-viewed/enums/recently-viewed-api-path.enum.ts
  shared/src/bundles/recently-viewed/recently-viewed.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-request-dto.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed.type.ts
  shared/src/bundles/recently-viewed/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/framework/http/enums/http-code.enum.ts
  shared/src/index.ts
Labels: root, backend, shared

#69 rg-0: + tildу replacement to vite
  commitlint.config.ts
  dangerfile.ts
  frontend/vite.config.ts
Labels: root, frontend

#34 rg-36: Add Toaster
  frontend/package.json
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/toast/components/toast-provider.tsx
  frontend/src/bundles/toast/context/toast-context.ts
  frontend/src/bundles/toast/enums/show-toast-types.enum.ts
  frontend/src/bundles/toast/helpers/show-toast.ts
  frontend/src/bundles/toast/types/show-toast.type.ts
  frontend/src/bundles/toast/types/toast-context.type.ts
  frontend/src/index.tsx
  package.json
Labels: enhancement, root, frontend

#60 rg-60: connect sign form with corresponding logic
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/pages/auth.tsx
Labels: frontend

#46 rg-39: Pdf generation service
  backend/package.json
  backend/src/bundles/pdf/enums/enums.ts
  backend/src/bundles/pdf/pdf.controller.ts
  backend/src/bundles/pdf/pdf.service.ts
  backend/src/bundles/pdf/pdf.ts
  backend/src/common/controller/controller.package.ts
  backend/src/common/controller/types/api-handler-response.type.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-application.ts
  frontend/src/bundles/edit-temlate/edit-template.tsx
  frontend/src/bundles/edit-temlate/store/slice.ts
  package-lock.json
  package.json
  shared/src/bundles/pdf/enums/enums.ts
  shared/src/bundles/pdf/enums/pdf-api-path.enum.ts
  shared/src/bundles/pdf/pdf.ts
  shared/src/bundles/pdf/types/pdf-service.type.ts
  shared/src/bundles/pdf/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: enhancement, root, frontend, backend, shared

#75 rg-77: add template id to resume table
  backend/src/migrations/20240226135909_add_template_id_column_to_resumes_table.ts
Labels: backend

#73 rg-74: Clean Up Starter
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/pages/styles.module.scss
Labels: bug, frontend

#64 rg-52: Basic ai integration
  backend/.env.example
  backend/package.json
  backend/src/bundles/open-ai/constants/constants.ts
  backend/src/bundles/open-ai/constants/model-settings.ts
  backend/src/bundles/open-ai/constants/prompts.ts
  backend/src/bundles/open-ai/enums/enums.ts
  backend/src/bundles/open-ai/enums/roles.ts
  backend/src/bundles/open-ai/open-ai.service.ts
  backend/src/bundles/open-ai/open-ai.ts
  backend/src/bundles/resumes/enums/enums.ts
  backend/src/bundles/resumes/resume.controller.ts
  backend/src/bundles/resumes/resume.service.ts
  backend/src/bundles/resumes/resumes.ts
  backend/src/bundles/resumes/types/types.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/server-application/server-application.ts
  package-lock.json
  shared/src/bundles/resumes/enums/enums.ts
  shared/src/bundles/resumes/enums/resume-api-path.enum.ts
  shared/src/bundles/resumes/resumes.ts
  shared/src/bundles/resumes/types/resume-ai-score-request-dto.type.ts
  shared/src/bundles/resumes/types/resume-ai-score-response-dto.type.ts
  shared/src/bundles/resumes/types/resume-service.type.ts
  shared/src/bundles/resumes/types/types.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: enhancement, root, backend, shared, ENV

#63 rg-43: add payments
  backend/.env.example
  backend/package.json
  backend/src/bundles/payment/enums/enums.ts
  backend/src/bundles/payment/enums/error-message.ts
  backend/src/bundles/payment/helpers/price-mapper.ts
  backend/src/bundles/payment/payment.controller.ts
  backend/src/bundles/payment/payment.service.ts
  backend/src/bundles/payment/payment.ts
  backend/src/bundles/payment/types/payment.service.type.ts
  backend/src/bundles/payment/types/types.ts
  backend/src/bundles/payment/validation-schemas/validation-schemas.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-application.ts
  frontend/package.json
  frontend/src/assets/img/cross.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/stripe-provider/stripe-provider.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/payment/components/styles.module.scss
  frontend/src/bundles/payment/components/subscription-card.tsx
  frontend/src/bundles/payment/constants/payment.constant.ts
  frontend/src/bundles/payment/enums/enums.ts
  frontend/src/bundles/payment/enums/messages.ts
  frontend/src/bundles/payment/pages/styles.module.scss
  frontend/src/bundles/payment/pages/subscription-payment.tsx
  frontend/src/bundles/payment/payment-api.ts
  frontend/src/bundles/payment/payment.ts
  frontend/src/bundles/payment/store/actions.ts
  frontend/src/bundles/payment/store/index.ts
  frontend/src/bundles/payment/store/slice.ts
  frontend/src/bundles/payment/types/types.ts
  frontend/src/bundles/payment/validation-schemas/validation-schemas.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  package-lock.json
  package.json
  shared/src/bundles/payment/enums/enums.ts
  shared/src/bundles/payment/enums/payment-api-path.enum.ts
  shared/src/bundles/payment/enums/payment-validation-message.enum.ts
  shared/src/bundles/payment/payment.ts
  shared/src/bundles/payment/types/create-subscription-request-dto.type.ts
  shared/src/bundles/payment/types/create-subscription-response-dto.type.ts
  shared/src/bundles/payment/types/get-price-response-dto.type.ts
  shared/src/bundles/payment/types/get-prices-request-dto.type.ts
  shared/src/bundles/payment/types/get-prices-response-dto.type.ts
  shared/src/bundles/payment/types/get-publishable-key-request-dto.type.ts
  shared/src/bundles/payment/types/get-publishable-key-response-dto.type.ts
  shared/src/bundles/payment/types/types.ts
  shared/src/bundles/payment/validation-schemas/payment-create-subscription.validation-schema.ts
  shared/src/bundles/payment/validation-schemas/validation-schemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: enhancement, root, frontend, backend, shared, ENV

#81 rg-81: Check Common Auth Logic
  backend/src/bundles/payment/helpers/price-mapper.ts
  frontend/src/bundles/auth/components/sign-in-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/no-auth-route/no-auth-route.tsx
  frontend/src/bundles/common/components/password-input/password-input.tsx
  frontend/src/bundles/common/components/private-route/private-route.tsx
  frontend/src/bundles/common/components/stripe-provider/stripe-provider.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/landing-page/landing-page.tsx
  frontend/src/bundles/payment/components/subscription-card.tsx
  frontend/src/bundles/payment/pages/styles.module.scss
  frontend/src/bundles/payment/payment-api.ts
  frontend/src/bundles/payment/store/actions.ts
  frontend/src/bundles/payment/store/index.ts
  frontend/src/bundles/payment/store/slice.ts
  frontend/src/bundles/payment/types/types.ts
  frontend/src/index.tsx
  shared/src/bundles/payment/payment.ts
  shared/src/bundles/payment/types/create-subscription-request-dto.type.ts
  shared/src/bundles/payment/types/create-subscription-response-dto.type.ts
  shared/src/bundles/payment/types/get-price-response-dto.type.ts
  shared/src/bundles/payment/types/get-prices-response-dto.type.ts
  shared/src/bundles/payment/types/get-publishable-key-response-dto.type.ts
  shared/src/bundles/payment/validation-schemas/payment-create-subscription.validation-schema.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-sign-in.validation-schema.ts
Labels: frontend, backend, shared

#42 rg-38: add new button component for Create resume button
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/create-resume-button/create-resume-button.tsx
  frontend/src/bundles/common/components/create-resume-button/styles.module.scss
  frontend/src/bundles/common/components/modal/styles.module.css
  frontend/src/bundles/common/components/progress/styles.module.css
  frontend/src/bundles/common/components/progress/styles.module.css.map
  frontend/src/bundles/common/enums/components/button-color.enum.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/preview/styles.module.css
Labels: frontend

#77 rg-79: update recently viewed crud
  backend/src/bundles/recently-viewed/recently-viewed.controller.ts
  backend/src/bundles/recently-viewed/recently-viewed.repository.ts
  backend/src/bundles/recently-viewed/recently-viewed.service.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.controller.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.repository.type.ts
  backend/src/bundles/recently-viewed/types/recently-viewed.service.type.ts
  backend/src/bundles/recently-viewed/types/types.ts
  backend/src/bundles/users/types/types.ts
  backend/src/common/database/enums/database-column-name.enum.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/migrations/20240226135909_add_template_id_column_to_resumes_table.ts
  shared/src/bundles/recently-viewed/enums/recently-viewed-api-path.enum.ts
  shared/src/bundles/recently-viewed/recently-viewed.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-request-dto.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-resumes-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/recently-viewed-templates-response-dto.type.ts
  shared/src/bundles/recently-viewed/types/types.ts
  shared/src/index.ts
Labels: enhancement, backend, shared

#89 rg-89: tab nam icon
  frontend/index.html
  frontend/public/tab_icon.ico
  frontend/src/app/app.tsx
  frontend/src/bundles/common/helpers/update-page-tab.ts
  frontend/src/bundles/common/titles/titles.ts
  frontend/src/bundles/not-found-page/not-found-page.tsx
  frontend/src/index.tsx
Labels: enhancement, frontend

#45 rg-41: Add Sort Component
  backend/src/common/server-application/constants/public-routes.ts
  frontend/src/bundles/common/components/create-resume-button/styles.module.scss
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/sort-button/sort-button.tsx
  frontend/src/bundles/common/components/sort-button/styles.module.scss
  frontend/src/bundles/common/enums/components/button-color.enum.ts
  frontend/src/bundles/common/enums/components/icon-name.enum.ts
Labels: enhancement, frontend, backend

#92 rg-0: + migration
  backend/src/migrations/20240226135909_add_template_id_column_to_resumes_table.ts
Labels: backend

#38 rg-28: upload user avatar
  .gitignore
  backend/src/common/database/abstract.repository.ts
  frontend/package.json
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/user-photo-uploader/styles.module.scss
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-cropper.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-mockup.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-modal.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-placeholder.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-preview.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-uploader.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-wrapper.tsx
  frontend/src/bundles/common/enums/components/icon-name.enum.ts
  frontend/src/bundles/profile/enums/profile.ts
  frontend/src/bundles/profile/profile-api.ts
  frontend/src/bundles/profile/profile.ts
  frontend/src/bundles/profile/store/actions.ts
  frontend/src/bundles/profile/store/index.ts
  frontend/src/bundles/profile/store/slice.ts
  frontend/src/framework/store/store.package.ts
  package-lock.json
  shared/src/enums/api-path.enum.ts
Labels: root, frontend, backend, shared

#95 rg-110: + fix after merge task 28
  frontend/src/bundles/profile/enums/profile.ts
  frontend/src/bundles/profile/profile-api.ts
  frontend/src/bundles/profile/store/actions.ts
  frontend/src/bundles/profile/store/slice.ts
  frontend/src/bundles/profile/types/user-profile-responce.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/content-type.enum.ts
Labels: bug, frontend, shared

#87 rg-88: update date selection logic in resume builder
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/cv-editor/components/common/date-selector/date-selector.tsx
  frontend/src/bundles/cv-editor/components/common/date-selector/styles.module.scss
  frontend/src/bundles/cv-editor/components/online-editor/tabs-constants.tsx
  frontend/src/bundles/cv-editor/helpers/format-date/format-date.ts
  frontend/src/bundles/cv-editor/pages/certification/certification.tsx
  frontend/src/bundles/cv-editor/pages/custom-section/custom-section.tsx
  frontend/src/bundles/cv-editor/pages/custom-section/styles.module.scss
  frontend/src/bundles/cv-editor/pages/education/education.tsx
  frontend/src/bundles/cv-editor/pages/experience/experience.tsx
  frontend/src/bundles/cv-editor/types/custom-data/custom-data.type.ts
  frontend/src/bundles/cv-editor/types/types.ts
Labels: enhancement, frontend

#72 rg-73: button refactoring
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/base-button/base-button.tsx
  frontend/src/bundles/common/components/base-button/styles.module.scss
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/regular-button/regular-button.tsx
  frontend/src/bundles/common/components/regular-button/styles.module.scss
  frontend/src/bundles/cv-editor/components/online-editor/online-editor-handler.tsx
  frontend/src/bundles/landing-page/landing-page.tsx
  frontend/src/bundles/not-found-page/not-found-page.tsx
  frontend/src/bundles/users/components/delete-account/delete-account.tsx
Labels: enhancement, frontend

#62 rg-61: Wire up main page
  backend/src/bundles/templates/template.entity.ts
  backend/src/bundles/templates/template.model.ts
  backend/src/bundles/templates/types/template.type.ts
  frontend/src/assets/img/mock-avatar.png
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/layout/header/user-profile/user-profile.tsx
  frontend/src/bundles/common/components/sort-button/sort-button.tsx
  frontend/src/bundles/common/components/sort-button/styles.module.scss
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/helpers/get-user-avatar.ts
  frontend/src/bundles/edit-temlate/store/actions.ts
  frontend/src/bundles/edit-temlate/store/slice.ts
  frontend/src/bundles/edit-temlate/template-api.ts
  frontend/src/bundles/home/components/home-top-section/components/greeting/greeting.tsx
  frontend/src/bundles/home/components/home-top-section/home-top-section.tsx
  frontend/src/bundles/home/components/panel-container/panel-container.tsx
  frontend/src/bundles/home/components/panel-container/styles.module.scss
  frontend/src/bundles/home/components/template-section/template-section.tsx
  frontend/src/bundles/home/pages/home.tsx
  frontend/src/bundles/home/pages/styles.module.scss
  frontend/src/bundles/home/pages/templates.tsx
  frontend/src/bundles/main-page/main-page.tsx
  frontend/src/bundles/main-page/styles.module.scss
  frontend/src/bundles/templates-page/templates-page.tsx
  frontend/src/index.tsx
  shared/src/bundles/templates/types/template-dto.type.ts
  shared/src/index.ts
  shared/src/types/sort.type.ts
  shared/src/types/types.ts
Labels: enhancement, frontend, backend, shared

#98 rg-101: change tab for log in page
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/titles/titles.ts
  frontend/src/bundles/preview/preview.tsx
  frontend/src/index.tsx
Labels: bug, frontend

#104 rg-96: no password with spaces
  frontend/src/bundles/auth/components/sign-up-form/validation/sign-up-validation.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
Labels: frontend, shared

#85 rg-70: Add oauth facebook login
  backend/.env.example
  backend/src/bundles/oauth/config/oauth-config.ts
  backend/src/bundles/oauth/oauth.controller.ts
  backend/src/bundles/oauth/types/types.ts
  backend/src/common/config/config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/server-application/constants/public-routes.ts
  backend/src/common/server-application/server-app.ts
  frontend/src/bundles/auth/components/social-media-links/helpers/social-media-links-with-icons.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/modal/styles.module.css
  frontend/src/bundles/common/components/progress/styles.module.css
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-placeholder.tsx
  frontend/src/bundles/common/components/user-photo-uploader/user-photo-preview.tsx
  frontend/src/bundles/preview/styles.module.css
  frontend/src/index.tsx
  package-lock.json
  shared/src/bundles/open-auth/enums/oauth-strategy.enum.ts
  shared/src/bundles/open-auth/enums/open-auth-api-get-user-url.enum.ts
  shared/src/bundles/open-auth/enums/open-auth-api-path.enum.ts
  shared/src/bundles/open-auth/open-auth.ts
  shared/src/bundles/open-auth/types/facebook/user-facebook-data-response-dto.type.ts
  shared/src/bundles/open-auth/types/types.ts
  shared/src/index.ts
Labels: root, frontend, backend, shared, ENV

#100 rg-112: add buttons to preview
  frontend/src/bundles/preview/preview.tsx
  frontend/src/bundles/preview/styles.module.scss
Labels: frontend
